services:
  app:
    build: .
    volumes:
      - .:/workspace

{% if cuda_required %}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
{% endif %}